<li class="sidebar-nav-item{{#match current slug}} is-active{{/match}}">
  <a class="sidebar-nav-link" href="{{@site.url}}/tag/{{slug}}/">{{label}}</a>
  <span class="sidebar-nav-count">{{#get "posts" filter="tag:{{slug}}" limit="1"}}{{pagination.total}}{{/get}}</span>
</li>
