<a class="tag-nav-item{{#match current slug}} tag-nav-item--active{{/match}}" href="{{@site.url}}/tag/{{slug}}/">
  <span class="tag-nav-item-label">{{label}}</span>
  <span class="tag-nav-item-count">{{#get "posts" filter="tag:{{slug}}" limit="1"}}{{pagination.total}}{{/get}}</span>
</a>
